body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #41B3A3;
  color: ;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #E8A87C;
  border: .2rem solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  border-radius: .4rem;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

.moves {
  background-color: #C38D9E;
  border-radius: 1rem;
  border: .5rem solid balck;
}

.title {
  text-align: center;
}